@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Segoe UI', sans-serif;
    scroll-behavior: smooth;
}


.container-home {
    .container-navegacao {
        display: flex;
        background-color: #fff;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
        height: 80px;
        position: fixed;
        z-index: 1000;
        width: 100%;
    }

    .icone-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 7rem;

        .Cor-title {
            color: #0052a5;
        }

        .fas.fa-bolt {
            font-size: 30px;
            color: #0052a5;
        }
    }

    h3 {
        display: flex;
        font-size: 1.8rem;
        padding-left: 0;
        margin: 0;
        align-items: center;
    }

    .links-containers {
        display: flex;
        flex-direction: row;
        gap: 50px;
        padding: 10px 0;

        a {
            position: relative;
            text-decoration: none;
            font-weight: 500;
            font-size: 18px;
            padding: 5px 0;
            transition: 0.3s ease;

            &:hover {
                color: #0052a5;
                border-bottom-color: #0052a5;
                transition: all 0.3s ease;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 2px;
                background-color: #0052a5;
                transition: 0.8s ease;
            }

            &:hover::after {
                width: 100%;
            }
        }
    }

    a {
        text-decoration: none;
        color: black;
    }

    .empresa-content {

        background: linear-gradient(100deg, #003d7a 20%, #0d4db4 90%);
        height: 60rem;
        color: #fff;
        padding-top: 4rem;


        .title {
            display: flex;
            justify-content: center;
            padding-top: 5rem;
            font-size: 3rem;

        }

        .textos-p {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding-left: 15rem;
            padding-right: 15rem;
            padding-top: 2rem;
            font-size: 20px;
        }

        .empresa-destaque {
            display: flex;
            flex-direction: row;
            margin-left: 10rem;
            margin-right: 10rem;
            gap: 2rem;


            .destaque-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 25rem;
                padding: 3rem;
                gap: 3rem;
                margin-top: 4rem;
                background: rgba(255, 255, 255, 0.103);
                border-radius: 8px;
                backdrop-filter: blur(10px);

                p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    line-height: 2rem;
                }

                h3 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    font-size: 1.5rem;
                    align-items: center;
                }

                .fas.fa-shield-alt {
                    color: #4a86e8;
                    font-size: 3rem;
                }

                .fas.fa-cogs {
                    color: #4a86e8;
                    font-size: 3rem;
                }

                .fas.fa-users {
                    color: #4a86e8;
                    font-size: 3rem;
                }
            }
        }
    }

    .container-equipe {
        display: flex;
        flex-direction: row;
        margin-top: 5rem;
        align-items: flex-start; // Alinha os itens no topo

        .container-equipe-conteudo {
            height: 60rem;
            flex: 1; // Ocupa o espaço disponível
            display: flex;
            flex-direction: column;
            margin-top: 7rem;

            h1 {
                color: #1a365d;
            }

            h4 {
                color: #1a365d;
            }

            .title-equipe {
                text-align: center;

                h1 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                }

                p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    color: #3f4041;
                }
            }

            .texto-sobre {
                display: flex;
                flex-direction: column;
                margin-left: 7rem;
                margin-top: 4rem;
                margin-right: 5rem;

                p {
                    line-height: 2rem;
                }

                h4 {
                    margin-top: 2rem;
                    margin-bottom: 1rem;
                }

                ul {
                    margin-left: 2rem;
                    margin-bottom: 2rem;

                    li {
                        line-height: 2rem;
                    }
                }

                a {
                    background-color: #0052a5;
                    color: white;
                    padding: 12px 30px;
                    border-radius: 8px;
                    text-decoration: none;
                    font-weight: bold;
                    align-self: flex-start;
                    transition: background-color 0.3s ease;

                    &:hover {
                        background-color: #003d7a;
                    }
                }
            }
        }

        .img-tec {
            flex: 1; //
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 400px;
            margin-top: 22rem;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            padding: 2rem;
            margin-right: 7rem;
            border-radius: 8px;
            background: linear-gradient(100deg, #003d7a 20%, #165ac9 90%);



            .fas.fa-laptop-code {
                font-size: 4rem;
                color: #ffffff;
                margin-bottom: 1.5rem;
            }

            h3 {
                color: #ffffff;
                font-size: 1.5rem;
                text-align: center;
            }
        }
    }

    .servicos-container {


        .servicos {


            .container {

                .section-title {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 12rem;

                    h1 {
                        color: #1a365d;
                    }

                    p {
                        margin-top: 1rem;
                        color: #3f4041;
                    }
                }
            }
        }

        .servicos-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            margin-top: 5rem;
            gap: 2rem;
            margin-left: 5rem;
            margin-right: 5rem;
        }

        .servico-card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: var(--white);
            padding: 40px 30px;
            border-radius: 8px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
            text-align: center;
            transition: transform 0.3s ease;
            border-top: 4px solid #0052a5;

            p {
                margin-top: 1.5rem;
                color: #718096;

            }

            h3 {
                color: #1a365d;
            }
        }

        .servico-card:hover {
            transform: translateY(-10px);


        }

        .servico-icon {
            width: 80px;
            height: 80px;
            background-color: rgba(0, 82, 165, 0.1);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto 25px;
        }

        .servico-icon i {
            font-size: 36px;
            color: #0052a5;
        }

        .servico-card h3 {
            font-size: 22px;
            margin-bottom: 15px;
        }

    }


    .container-projetos {



        .section-title {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin-top: 12rem;

            h1 {
                color: #1a365d;
            }

            p {
                margin-top: 1rem;
                color: #3f4041;
            }
        }

        .cards {

            display: flex;
            justify-content: center;
            flex-direction: row;
            gap: 35px;
            

            .container-cards {

                display: flex;
                flex-direction: column;
                width: 500px;
                height: 200px;
                margin-top: 4rem;





                .cards-bloco {

                    border: 5px #0000;

                    .cards-icon {
                        background: linear-gradient(130deg, #003d7a 10%, #165ac9 90%);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 100px;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;



                        .fas.fa-graduation-cap {
                            font-size: 50px;
                            color: #fff;
                        }

                    }

                    .cards-text {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;
                        text-align: center;

                        h3 {
                            padding: 20px;
                            color: #0052a5;
                        }

                        p {
                            text-align: justify;
                            padding: 10px;
                        }
                    }

                    .tags-container {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 2rem;

                        .tags {
                            margin-top: 1.3rem;
                            background-color: #e2e8f0;
                            border-radius: 8px;
                            padding: 8px;

                        }
                    }


                }
            }
        }


    }
}